.navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 4rem;
    display: flex;
    align-items: center;
}

.navbar > input {
    height: 2rem;
    width: 20rem;
    margin-left: 1rem;
}

.clear-search {
    margin-left: 1rem;
}

.home-btn {
    margin-left: 1rem;
    height: 2rem;
}